---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Claves from '../components/Claves.astro';
import Estrategias from '../components/Estrategias.astro';
import Formulario from '../components/Formulario.astro';
import Equipo from '../components/Equipo.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Header />
    <main class="pt-20">
        <Hero />
        <Claves />
        <Estrategias />
        <Formulario />
        <Equipo />
    </main>
    <Footer />
</Layout>